.Videocall {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 100px;
  border: 1px solid #0F69B5;
  border-radius: 4px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.Chat-label {
  margin-right: 10px;
  margin-left: 2px;
}

.Chat-room {
  color: #FFFFFF;
  float: none;
}

.Chat-room-new {
  display: inline-block;
  border: 1px solid #000000;
  background-color: #0F69B5;
  border-radius: 10%;
  width: 20%;
}

.Chat-room-or {
  display: inline-block;
  border: 3px solid;
}

.Chat-room-join {
  display: inline-block;
  border: 1px solid #000000;
  background-color: #FF0000;
  border-radius: 10%;
  width: 20%;
}

.Camera {
  text-align: center;
}

.Camera-image { 
  height: 400px;
  width: 400px;
}

.Camera-video { 
  height: 400px;
  width: 500px;
}

.invisibleComp {
  display: none;
}

.Remote-image { 
  height: 150px;
  width: 150px;
  padding-left: 3px;
  padding-right: 3px;
}

.Servicebus-message {
  display: inline-block;
  border: 1px solid #000000;
  background-color: rgb(15, 181, 65);
  border-radius: 10%;
  width: 20%;
}